* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #2c2c2c;
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #202020;
  color: white;
}

.logo{
  display: flex;
  align-items: center;
  gap: 5px;
}

header .logo h1 {
  font-size: 24px;
}

header .search-bar input {
  padding: 8px;
  width: 400px;
  border-radius: 20px;
  border: none;
}

header .profile img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}



.container {
  display: grid;
  margin-bottom: 20px;
  
}
.tck-grande{
  display: grid;
  grid-row: 1 / 5; 
  margin: 30px;  
  justify-self: start;
  padding: 0;
  display: block;
  border: none;
}
.tck-grande h2{
  color: white;
}
.tck-grande p{
  color: white;
}

.like-dislike-section {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  font-size: 10px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.like-button {
  background-color:#4f4f4f; 
  color: white;
}

.like-button:hover {
  background-color:#4f4f4f; 
}

.dislike-button {
  background-color: #4f4f4f; 
  color: white;
}

.dislike-button:hover {
  background-color:#4f4f4f;
}

.canal{
  display: grid;
  grid-template-columns: 60px 150px 100px 100px 100px;
  gap: none;
  justify-items: start;
  align-self: start;
  align-items: center;
}
.canal button{
  align-items: center;
  background-color: #4f4f4f;
}

.canal h1{
  font-size: 13px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center; 
  column-gap: 2px;
  color: white;
}

.canal img{
border-radius: 50px;
}

.content {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
}

.descricao{
  padding-top: 5%;
  color: white;
}

.descricao h3{
padding-bottom: 2%;
}

.descricao p{
  font-size: 13px;
}

.tck-pequeno{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center; 
  color: white;
  transform: translateX(-80px);
  transform: translateY(-40px);
}

.tck-pequeno div {
  display: flex;
  flex-direction: column;
  transform: translateY(33px);
}

.tck-pequeno p{
  font-size: 12px;
}

.tck-pequeno img{
  max-width: 100%;
  margin: 0;
}

.comentarios {
  display: grid;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  max-width: 800px;
  width: auto;
  margin: 20px;
}

.comentarios img {
  justify-self: start;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comentarios textarea {
  height: 40px;
  border-radius: 50px;
  color: white;
  background-color: #2c2c2c;
  padding: 10px;
  resize: none;
  outline: none;
}

.comentarios button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
}

.comentarios button:hover {
  background-color: #313131;
}
